<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.integral.mapper.IntegralRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.integral.entity.IntegralRecord">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="deleted" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
        <result column="version" property="version" />
        <result column="integral_no" property="integralNo" />
        <result column="source" property="source" />
        <result column="integral_type" property="integralType" />
        <result column="num" property="num" />
        <result column="lose_efficacy_time" property="loseEfficacyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        is_deleted,
        modified_by,
        modified_time,
        version,
        integral_no, source, integral_type, num, lose_efficacy_time
    </sql>

</mapper>
